body {
    background-color: #87CEEB; 
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100vh;
}

.frame {
    background-color: #fff; 
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

img {
    width: 100px;
    border-radius: 10px;
    
}